body {
    background-color: #f5bd45;
    text-align: center !important;
    font-family: 'Luckiest Guy';
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.container {
    border-radius: 25px;
    background: #f5bd45;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin: 3vw 3vw 3vw 3vw;

}

.btn {
    border-radius: 25px;
    background: #e94747;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* border-radius: 2% 1% 3% 4% / 5% 6% 5% 4%; */
    margin: 3vw 0 3vw 0;
}

h1 {
    margin-block-end: 0.067em;
    font-size: 13vw;
    /* font-size: 144pt; */
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -0.5vw 0 #212121,  
                   0px -0.5vw 0 #212121,
                   0px  0.5vw 0 #212121,
                   0px  0.5vw 0 #212121,
                  -0.5vw  0px 0 #212121,  
                  0.5vw  0px 0 #212121,
                  -0.5vw  0px 0 #212121,
                  0.5vw  0px 0 #212121,
                  -0.5vw -0.5vw 0 #212121,  
                  0.5vw -0.5vw 0 #212121,
                  -0.5vw  0.5vw 0 #212121,
                  0.5vw  0.5vw 0 #212121,
                  -0.5vw  2vw 0 #212121,
                   0px  2vw 0 #212121,
                   0.5vw  2vw 0 #212121,
                   0 2vw 1px rgba(0,0,0,.1),
                   0 0 0.5vw rgba(0,0,0,.1),
                   0 0.5vw 3px rgba(0,0,0,.3),
                   0 2vw 6px rgba(0,0,0,.2),
                   0 2vw 2vw rgba(0,0,0,.25),
                   0 3vw 3vw rgba(0,0,0,.2),
                   0 4vw 4vw rgba(0,0,0,.15);
}

h2 {
    font-size: 4vh;
    font-family: 'Fredoka One';
    color: white;
    font-weight: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    font-size: 3vh;
    font-family: 'Fredoka One';
    color: black;
    font-weight: normal;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: block;
}
.loadingGraphics {
    display: inline-block;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.drone {
    width: 300px;
    height: 300px;
}

.loadingText {
    font-family: sans-serif;
    font-size: 2em;
    color: #999;
    text-transform: uppercase;
    text-align: center;
}

#page {
    display: none;
}

/***
    Image 
***/

img {
    width: 100%;
}

/***
    Slider 
***/

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}