*.DS_Store
*.pyc
**/logs	
**/.ipynb_checkpoints
**/__pycache__
**/env/
**/.vscode/
pictures/*
MRNet-v1.0/*
!MRNet-v1.0/.gitkeep
logs/
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
external/*
!external/.gitkeep
src.zip
my-utils/
my-data/
src/models-to-submit/*
!src/models-to-submit/.gitkeep